<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"  xmlns:th="http://www.thymeleaf.org">
<head th:fragment="headerFragment">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<link rel="stylesheet" href="/css/theme.css" />
	<link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' />
	<link type="image/x-icon" href="/discipular/compartilhado/imagens/logo-discipular.png" rel="shortcut icon" />

	<title>Católicos Em Células</title>
</head>
<body id="login-page">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<div id="login-box">
					<div class="row">
						<div class="col-xs-12">
							<header id="login-header">
								<div id="login-logo">
<!--  									<img src="${path}resources/imagens/discipular-logo8.png" alt="" /> -->
								</div>
							</header>
							<div id="login-box-inner">
<!-- 								<form method="post" role="form" action="logar"> -->
								<form method="post" role="form" th:action="@{/login/processing}">
								
									<div class="input-group">
										<span class="input-group-addon"><i class="fa fa-user"></i></span>
										<input class="form-control" name="username" required="required" type="text" placeholder="Login" />
									</div>
									<div class="input-group">
										<span class="input-group-addon"><i class="fa fa-key"></i></span>
										<input  class="form-control" name="password" required="required" type="password" placeholder="Password" />
									</div>
<!-- 									<div id="remember-me-wrapper"> -->
<!-- 										<div class="row"> -->
<!-- 											<div class="col-xs-6"> -->
<!-- 												<div class="checkbox-nice"> -->
<!-- 													<input type="checkbox" id="remember-me" checked="checked" /> -->
<!-- 													<label for="remember-me"> Remember me </label> -->
<!-- 												</div> -->
<!-- 											</div> -->
<!-- 											<a href="#" id="login-forget-link" class="col-xs-6">Forgot password? </a> -->
<!-- 										</div> -->
<!-- 									</div> -->
									<div class="row">
										<div class="col-xs-12">
											<button type="submit" class="btn btn-success col-xs-12">Login</button>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>