<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"  xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8" />
    <title>Catolicos em Celulas</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="Lucas Campos" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" />
    <link rel="stylesheet" type="text/css" href="css/theme.css" />

    <!-- Favicon -->
    <link rel="shortcut icon" href="assets/img/favicon.ico" />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>
<body class="external-page sb-l-c sb-r-c onload-check">
<div id="main" class="animated fadeIn">
    <section id="content_wrapper">
        <div id="canvas-wrapper" style="height: 388px;">
            <canvas id="demo-canvas" width="1366" height="388"></canvas>
        </div>
        <section id="content">
            <div class="admin-form theme-info" id="login1">
                <div class="row mb15 table-layout">
                    <div class="col-xs-6 va-m pln">
                        <a href="#" title="Return to Dashboard">
                            <img src="" title="Logo" class="img-responsive w250" />
                        </a>
                    </div>
                    <div class="col-xs-6 text-right va-b pr5">
                    </div>
                </div>
                <div class="panel panel-info mt10 br-n">
                    <form method="post" th:action="@{/login/processing}" id="contact">
                        <div class="panel-body bg-light p30">
                            <div class="row">
                                <div class="col-sm-12 pr30">
                                    <div class="section row hidden">
                                        <div class="col-md-4">
                                            <a href="#" class="button btn-social facebook span-left mr5 btn-block">
                                                <span>
                                                    <i class="fa fa-facebook"></i>
                                                </span>Facebook
                                            </a>
                                        </div>
                                        <div class="col-md-4">
                                            <a href="#" class="button btn-social twitter span-left mr5 btn-block">
                                                <span>
                                                    <i class="fa fa-twitter"></i>
                                                </span>Twitter
                                            </a>
                                        </div>
                                        <div class="col-md-4">
                                            <a href="#" class="button btn-social googleplus span-left btn-block">
                                                <span>
                                                    <i class="fa fa-google-plus"></i>
                                                </span>Google+
                                            </a>
                                        </div>
                                    </div>
                                    <div class="section">
                                        <label for="username" class="field-label text-muted fs18 mb10">Username</label>
                                        <label for="username" class="field prepend-icon">
                                            <input type="text" name="username" id="username" class="gui-input" placeholder="Enter username" />
                                            <label for="username" class="field-icon">
                                                <i class="fa fa-user"></i>
                                            </label>
                                        </label>
                                    </div>
                                    <div class="section">
                                        <label for="username" class="field-label text-muted fs18 mb10">Password</label>
                                        <label for="password" class="field prepend-icon">
                                            <input type="password" name="password" id="password" class="gui-input" placeholder="Enter password" />
                                            <label for="password" class="field-icon">
                                                <i class="fa fa-lock"></i>
                                            </label>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer clearfix p10 ph15">
                            <button type="submit" class="button btn-primary mr10 pull-right">Sign In</button>
                            <label class="switch ib switch-primary pull-left input-align mt10">
                                <input type="checkbox" name="remember" id="remember" checked="" />
                                <label for="remember" data-on="YES" data-off="NO"></label>
                                <span>Remember me</span>
                            </label>
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </section>
</div>

<script src="js/theme.js"></script>
<script src="app/resources/js/canvasbg.js"></script>

<script type="text/javascript">
    jQuery(document).ready(function() {

        "use strict";

        // Init Theme Core
        Core.init();

        CanvasBG.init({
            Loc: {
                x: window.innerWidth / 2,
                y: window.innerHeight / 3.3
            }
        });

    });
</script>
</body>
</html>